<div id="view-profile">
  
    <div class="container">
  
      <div class="one column row">
  
        <div class="column">
  
          <img class="img-responsive" style = "max-height: 100" src="https://semantic-ui.com/images/avatllot.jpg">
  
          <h3 class="ui header">
  
            Fist Name Middle Name Last Name
  
          </h3>
  
          <hr/>
  
          <div>
  
            <strong>DOB:</strong>30/01/2017
  
          </div>
  
          <div>
  
            <strong>Age:</strong>3
  
          </div>
  
          <div>
  
            <strong>Email:</strong>sure@gmail.com
  
          </div>
  
          <div>
  
            <strong>Contact No 1:</strong>9656565656
  
          </div>
  
          <div>
  
            <strong>Contact No 2:</strong>9565995655
  
          </div>
  
          <div>
  
            <strong>Address:</strong>N0:123 , Main Street. City. State. Country.
  
          </div>
  
          <div>
  
              <strong>About Me:</strong>haha.
  
            </div>
  
        </div>
  
      </div>
  
    </div>
  
  </div>