<div id="view-profile">
  
    <div class="container">
  
      <div class="one column row">
  
        <div class="column">
  
          <img class="img-responsive" style = "max-height: 100" src="https://semantic-ui.com/images/avatllot.jpg">
  
          <h3 class="ui header">
  
            {{ selectedPerson.firstName }} {{ selectedPerson.middleName }} {{selectedPerson.lastName}} Name Last Name
  
          </h3>
  
          <hr/>
  
          <div>
  
            <strong>DOB:</strong>{{ selectedPerson.dateOfBirth }}
  
          </div>
  
          <div>
  
            <strong>Age:</strong> {{ selectedPerson.age }}
  
          </div>
  
          <div>
  
            <strong>Email:</strong>{{ seletedPerson.email }}
  
          </div>
  
          <div>
  
            <strong>Contact No 1:</strong>{{ selectedPerson.phoneNo1 }}
  
          </div>
  
          <div>
  
            <strong>Contact No 2:</strong>{{ selectedPerson.phoneNo2 }}
  
          </div>
  
          <div>
  
            <strong>Address:</strong>{{ selectedPerson.address }}
  
          </div>
  
        </div>
  
      </div>
  
    </div>
  
  </div>