<div id="edit-profile">
    
        <form class="ui form">
    
          <div class="ui grid">
    
                <div class="two column row">
    
                  <div class="column">
    
                    <div class="field">
    
                      <label>First Name</label>
    
                      <input type="text" name="first-name" placeholder="Alvin">
    
                    </div>
    
                    <div class="field">
    
                      <label>Middle Name</label>
    
                      <input type="text" name="last-name" placeholder="Clane">
    
                    </div>
    
                    <div class="field">
    
                      <label>DOB</label>
    
                      <input type="text" name="last-name" placeholder="01-01-2017">
    
                    </div>
    
                  </div>
    
                  <div class="column">
    
                    <div class="field">
    
                      <label>Last Name</label>
    
                      <input type="text" name="last-name" placeholder="Muskitter">
    
                    </div>
    
                  </div>
    
                </div>
    
            </div>
    
            <br>
    
            <button class="ui button" type="submit">Submit</button>
    
          </form>
    
    </div>