<div id="edit-profile">
    
        <form [formGroup]="ceProfileForm" class="ui form" (ngSubmit)="onSubmit(ceProfileForm.value)">
    
          <div class="ui grid">
    
                <div class="two column row">
    
                  <div class="column">
    
                    <div class="field">
    
                      <label>First Name</label>
    
                      <input name="firstName" type="text" placeholder="Alvin" formControlName="firstName">
    
                    </div>
    
                    <div class="field">
    
                      <label>Middle Name</label>
    
                      <input name="middleName" type="text" placeholder="Clane" formControlName="middleName">
    
                    </div>
    
                    <div class="field">
    
                      <label>DOB</label>
    
                      <input name="dateOfBirth" type="text" placeholder="01-01-2017" formControlName="dateOfBirth">
    
                    </div>
    
                  </div>
    
                  <div class="column">
    
                    <div class="field">
    
                      <label>Last Name</label>
    
                      <input name="lastName" type="text" placeholder="Muskitter" formControlName="lastName">
    
                    </div>
    
                  </div>
    
                </div>
    
            </div>
    
            <br>
    
            <button class="ui button" type="submit">Submit</button>
    
          </form>
    
    </div>