<div id="add-contact">

  <form class="ui form" [formGroup]="ceContactForm" (ngSubmit)="onSubmit(ceContactForm.value)">

    <div class="ui grid">

          <div class="two column row">

            <div class="column">

              <div class="field">

                <label>First Name</label>

                <input type="text" name="firstName" placeholder="First Name" formControlName="firstName">

              </div>

              <div class="field">

                <label>Middle Name</label>

                <input type="text" name="middleName" placeholder="Middle Name" formControlName="middleName">

              </div>

              <div class="field">

                <label>DOB</label>

                <input type="text" name="dateOfBirth" placeholder="XX-XX-XXXX" formControlName="dateOfBirth">

              </div>

              <div class="field">

                <label>Age</label>

                <input type="text" name="age" placeholder="Age" formControlName="age">

              </div>

              <div class="field">

                <label>Permanent Address</label>

                <input type="text" name="permanentAddress" placeholder="Last Name" formControlName="address">

              </div>

              <div class="field">

                <label>Alternate Address</label>

                <input type="text" name="altAddress" placeholder="Last Name" formControlName="altAddress">

              </div>

            </div>

            <div class="column">

              <div class="field">

                <label>Last Name</label>

                <input type="text" name="lastName" placeholder="Last Name" formControlName="lastName">

              </div>

              <div class="field">

                <label>Phone Number 1</label>

                <input type="text" name="phNo1" placeholder="Phone Number" formControlName="phNo1">

              </div>

              <div class="field">

                <label>Phone Number 2</label>

                <input type="text" name="phNo2" placeholder="Phone Number" formControlName="phNo2">

              </div>

              <div class="field">

                <label>Email</label>

                <input type="text" name="email"  placeholder="Email" formControlName="email">

              </div>

              <div class="field">
                <label>Contact Image</label>
                <img src="{{currentContact.avatar}}"  class="ui medium circular image"/>
              </div>
              
              <div class="field">
                <button type="button"  ngFilePicker (filePick)="setImagePreview($event.dataURL)">
                  Upload 
                </button>
              </div>

            </div>

          </div>

      </div>

      <br>

      <button class="ui button" type="submit">Submit</button>

  </form>

</div>